@import "tailwindcss";

:root {
  --font-geist: 'Geist', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-geist);
}


a,
button {
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 150ms;
}


input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
